.layout-bg {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;


    box-sizing: border-box;
    padding: 30px 40px;
    border-radius: 10px;
    color: #fff;
    background-color: #36435c;
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-image: url(img/1.svg);
    margin: 0 auto;
}

div {
    display: block;
}

.layout-bg ul {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.layout-bg ul li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.43;
    color: #84f5be;
    list-style: circle inside;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

/*.layout-bg .layout-left ul li {*/
/*    width: 33.33%;*/
/*}*/

.layout-bg .layout-right ul li {
    width: 50%;
}

.layout-bg a {
    color: #84f5be !important;
}

.layout-bg a :hover {
    color: #c5d2e2 !important;
}

.cards {
    margin-top: 30px;
    color: #000000 !important;
}

.cards ul, ol, li {
    list-style: none;
    padding-left: 0;
}

.common-layout {
    /*is ul*/
}

.layout-card {
    width: 100%;
    height: 470px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(36,46,66,6%),0 8px 16px rgba(36,46,66,5%);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: bottom;
}

.layout-card>p{
    /*display: flex;*/
    vertical-align: auto !important;
    align-items: center;
    font-weight: 600;
    line-height: 1.2;
    color: #333;
    border-bottom: 1px solid #d2e0d8;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}


.cards-header {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1.2;
    color: #333;
    font-size: 30px;
    border-bottom: 1px solid #d2e0d8;
    padding-top: 20px;
    /*padding-bottom: 20px;*/
    padding-left: 40px;
}


.cards-body {
    padding: 0 40px !important;
}

.cards-body>li {
    display: flex;
    height: 46px;
    align-items: center;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #d2e0d8
}

.cards-body>li>a {
    color: #31383e
}

.cards-body>li>a:hover {
    color: #00aa72
}