.cubing-icon.cubing-icon-333:before {
    content: "\ea0a" !important;
}

.cubing-icon.cubing-icon-222:before {
    content: "\ea09" !important;
}

.cubing-icon.cubing-icon-444:before {
    content: "\ea11" !important;
}

.cubing-icon.cubing-icon-555:before {
    content: "\ea13" !important;
}

.cubing-icon.cubing-icon-666:before {
    content: "\ea15" !important;
}

.cubing-icon.cubing-icon-777:before {
    content: "\ea16" !important;
}

.cubing-icon.cubing-icon-skewb:before {
    content: "\ea1c" !important;
}

.cubing-icon.cubing-icon-pyram:before {
    content: "\ea1b" !important;
}

.cubing-icon.cubing-icon-sq1:before {
    content: "\ea1d" !important;
}

.cubing-icon.cubing-icon-minx:before {
    content: "\ea19" !important;
}

.cubing-icon.cubing-icon-clock:before {
    content: "\ea17" !important;
}

.cubing-icon.cubing-icon-333oh:before {
    content: "\ea10" !important;
}

.cubing-icon.cubing-icon-333fm:before {
    content: "\ea0c" !important;
}

.cubing-icon.cubing-icon-333bf:before {
    content: "\ea0b" !important;
}

.cubing-icon.cubing-icon-444bf:before {
    content: "\ea12" !important;
}

.cubing-icon.cubing-icon-555bf:before {
    content: "\ea14" !important;
}

.cubing-icon.cubing-icon-333mbf:before {
    content: "\ea0e" !important;
}

.cubing-icon.cubing-icon-333ft:before {
    content: "\ea0d" !important;
}

.cubing-icon.cubing-icon-333mbf_unlimited:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-222bf:before {
    content: "\ea1e" !important;
}

.cubing-icon.cubing-icon-666bf:before {
    content: "\ea24" !important;
}

.cubing-icon.cubing-icon-777bf:before {
    content: "\ea25" !important;
}

.cubing-icon.cubing-icon-pyram_bf:before {
    content: "\ea4c" !important;
}

.cubing-icon.cubing-icon-skewb_bf:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-minx_bf:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-clock_bf:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-sq1_bf:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-pyram_fm:before {
    content: "\ea33" !important;
}

.cubing-icon.cubing-icon-skewb_fm:before {
    content: "\ea36" !important;
}

.cubing-icon.cubing-icon-clock_fm:before {
    content: "\ea54" !important;
}

.cubing-icon.cubing-icon-222fm:before {
    content: "\ea37" !important;
}

.cubing-icon.cubing-icon-333mini:before {
    content: "\ea34" !important;
}

.cubing-icon.cubing-icon-333bf_oh:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-444bf_oh:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-555bf_oh:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-333mini_oh:before {
    content: "\ea3d" !important;
}

.cubing-icon.cubing-icon-222oh:before {
    content: "\ea35" !important;
}

.cubing-icon.cubing-icon-444oh:before {
    content: "\ea3a" !important;
}

.cubing-icon.cubing-icon-555oh:before {
    content: "\ea39" !important;
}

.cubing-icon.cubing-icon-666oh:before {
    content: "\ea3c" !important;
}

.cubing-icon.cubing-icon-777oh:before {
    content: "\ea3b" !important;
}

.cubing-icon.cubing-icon-skewb_oh:before {
    content: "\ea3e" !important;
}

.cubing-icon.cubing-icon-pyram_oh:before {
    content: "\ea3f" !important;
}

.cubing-icon.cubing-icon-clock_oh:before {
    content: "\ea41" !important;
}

.cubing-icon.cubing-icon-sq1_oh:before {
    content: "\ea42" !important;
}

.cubing-icon.cubing-icon-minx_oh:before {
    content: "\ea40" !important;
}

.cubing-icon.cubing-icon-333mirror:before {
    content: "\ea43" !important;
}

.cubing-icon.cubing-icon-333mirroring:before {
    content: "\ea44" !important;
}

.cubing-icon.cubing-icon-333multiple5:before {
    content: "\ea4b" !important;
}

.cubing-icon.cubing-icon-333multiple10:before {
    content: "\ea45" !important;
}

.cubing-icon.cubing-icon-333multiple15:before {
    content: "\ea47" !important;
}

.cubing-icon.cubing-icon-333multiple20:before {
    content: "\ea48" !important;
}

.cubing-icon.cubing-icon-333oh_multiple5:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-333oh_multiple10:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-333oh_multiple15:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-333oh_multiple20:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-2345relay:before {
    content: "\ea21" !important;
}

.cubing-icon.cubing-icon-2345oh_relay:before {
    content: "\ea55" !important;
}

.cubing-icon.cubing-icon-2_7relay:before {
    content: "\ea20" !important;
}

.cubing-icon.cubing-icon-2_7oh_relay:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-345relay_bf:before {
    content: "\ea49" !important;
}

.cubing-icon.cubing-icon-345oh_relay_bf:before {
    content: "\ea53" !important;
}

.cubing-icon.cubing-icon-alien_relay:before {
    content: "\ea4a" !important;
}

.cubing-icon.cubing-icon-alien_oh_relay:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-27alien_relay:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-27alien_oh_relay:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-333ghost:before {
    content: "\ea28" !important;
}

.cubing-icon.cubing-icon-333Zongzi:before {
    content: "\ea2e" !important;
}

.cubing-icon.cubing-icon-hot_wheels:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-fisher:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-gear:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-333clone:before {
    content: "\ea4d" !important;
}

.cubing-icon.cubing-icon-444minx:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-555minx:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-maple_leaf:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-222minx:before {
    content: "\ea2a" !important;
}

.cubing-icon.cubing-icon-444pyram:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-888:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-999:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-10level:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-11level:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-12level:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-13level:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-14level:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-15level:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-16level:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-17level:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-21level:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-helicopter:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-redi:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-133:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-223:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-233:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-334:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-335:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-336:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-337:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-digit:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-digit_num:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-digit_uppercase:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-digit_num_uppercase:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-puke:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-sudoku_very_easy:before {
    content: "\ea50" !important;
}

.cubing-icon.cubing-icon-sudoku_easy:before {
    content: "\ea51" !important;
}

.cubing-icon.cubing-icon-sudoku_moderate:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-sudoku_advanced:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-sudoku_hard:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-sudoku_master:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-8puzzle:before {
    content: "\ea4f" !important;
}

.cubing-icon.cubing-icon-15puzzle:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-24puzzle:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-35puzzle:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-48puzzle:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-63puzzle:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-80puzzle:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-jhh:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-o_cola:before {
    content: "\ea4e" !important;
}

.cubing-icon.cubing-icon-3bf:before {
    content: "\ea0b" !important;
}

.cubing-icon.cubing-icon-3bf1:before {
    content: "\ea0b" !important;
}

.cubing-icon.cubing-icon-3bf2:before {
    content: "\ea0b" !important;
}

.cubing-icon.cubing-icon-3bf3:before {
    content: "\ea0b" !important;
}

.cubing-icon.cubing-icon-3bf4:before {
    content: "\ea0b" !important;
}

.cubing-icon.cubing-icon-3bf5:before {
    content: "\ea0b" !important;
}

.cubing-icon.cubing-icon-3bf6:before {
    content: "\ea0b" !important;
}

.cubing-icon.cubing-icon-3bf7:before {
    content: "\ea0b" !important;
}

.cubing-icon.cubing-icon-4bf:before {
    content: "\ea12" !important;
}

.cubing-icon.cubing-icon-4bf1:before {
    content: "\ea12" !important;
}

.cubing-icon.cubing-icon-4bf2:before {
    content: "\ea12" !important;
}

.cubing-icon.cubing-icon-4bf3:before {
    content: "\ea12" !important;
}

.cubing-icon.cubing-icon-4bf4:before {
    content: "\ea12" !important;
}

.cubing-icon.cubing-icon-5bf:before {
    content: "\ea14" !important;
}

.cubing-icon.cubing-icon-5bf1:before {
    content: "\ea14" !important;
}

.cubing-icon.cubing-icon-5bf2:before {
    content: "\ea14" !important;
}

.cubing-icon.cubing-icon-5bf3:before {
    content: "\ea14" !important;
}

.cubing-icon.cubing-icon-5bf4:before {
    content: "\ea14" !important;
}

.cubing-icon.cubing-icon-3mbf:before {
    content: "\ea0e" !important;
}

.cubing-icon.cubing-icon-3mbf1:before {
    content: "\ea0e" !important;
}

.cubing-icon.cubing-icon-3mbf2:before {
    content: "\ea0e" !important;
}

.cubing-icon.cubing-icon-3mbf3:before {
    content: "\ea0e" !important;
}

.cubing-icon.cubing-icon-3mbf4:before {
    content: "\ea0e" !important;
}

