.dropdown-item.active, .dropdown-item:active {
    color: #ffffff;
    background-color: #b8b9c0;
}
a {
    text-decoration: none !important;
    color: rgb(128, 128, 128) !important;
}
.nav-link {
    color: rgb(128, 128, 128);
}